#   ---------------------------------------
#   USEFUL Bash FUNCTIONS
#   ---------------------------------------

#   sshgit:  Push to git using an ssh key
#   -------------------------------------------------------------------
function sshgit() {
    if [ $# -eq 0 ]; then
        echo "Git wrapper script that allows you to specify an ssh-key file
Usage:
    sshgit -i ssh-key-file git-command
        "
        return 1
    fi

    # remove temporary file on exit
    trap 'rm -f /tmp/.git_ssh.$$' 0

    if [ "$1" = "-i" ]; then
        ssh-add $2
        SSH_KEY=$2; shift; shift
        echo "ssh -i $SSH_KEY \$@" > /tmp/.git_ssh.$$
        chmod +x /tmp/.git_ssh.$$
        export GIT_SSH=/tmp/.git_ssh.$$
    fi

    # in case the git command is repeated
    [ "$1" = "git" ] && shift

    # Run the git command
    git "$@"
}

#   update:  Update brew packages and gems
#   -------------------------------------------------------------------
function update() {
    echo "Gem Updates..."
    sudo gem update
    echo "Brew Updates..."
    brew update
    brew upgrade --all
    echo "Cleaning Up Brew Packages..."
    brew cleanup
}

function disable_proxy() {
  unset http_proxy;
  unset https_proxy;
  unset HTTP_PROXY;
  unset HTTPS_PROXY;
}

function www_proxy_enable() {
  export http_proxy="http://www-proxy.us.oracle.com:80";
  export https_proxy="http://www-proxy.us.oracle.com:80";
}

function rmdc_proxy_enable() {
  export http_proxy="http://rmdc-proxy.oracle.com:80";
  export https_proxy="http://rmdc-proxy.oracle.com:80";
}